.div1{
    height: 982px;
    width: 1512px;
}
.div1_1{
    height: 196px;
    width: 1512px;
    background-color: #D9D9D9;
}
.div1_2{
    height: 590px;
    width: 1512px;
    display: flex;
}
.div1_2_1{
    height: 590px;
    width: 907.2px;
    background-color: #8E8E8E;
}
.div1_2_2{
    height: 590px;
    width: 604.8px;
    background-color: #727459;
}
.div1_3{
    height: 196px;
    width: 1512px;
    background-color: #D9D9D9;
}