.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white;
}
.div1{
    height: 400px;
    width: 80%;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-bottom: 3%;
}
.div2{
    height: 400px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-top: 0;
}
.div2_1{
    width: 30%;
    height: 380px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div3{
    height: 800px;
    width: 80%;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 3%;
}
